<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.squareup.picasso3.provider">

  <application>
    <provider
        android:name=".PicassoContentProvider"
        android:authorities="${applicationId}.com.squareup.picasso3"
        android:exported="false"/>
  </application>
</manifest>