# Eclipse
.classpath
.project
.settings
eclipsebin

# Ant
bin
gen
build
out
lib

# Gradle
.gradle
jniLibs
build
local.properties
reports

# IntelliJ
.idea
*.iml
*.iws
*.ipr
classes
gen-external-apklibs

# Robolectric
tmp

.DS_Store
