<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.squareup.picasso3">

  <application>
    <provider
      android:name="androidx.startup.InitializationProvider"
      android:authorities="${applicationId}.androidx-startup"
      android:exported="false"
      tools:node="merge">

      <meta-data
        android:name="com.squareup.picasso3.PicassoInitializer"
        android:value="androidx.startup" />
    </provider>
  </application>
</manifest>
