<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0.0"
    package="com.example.picasso">

  <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="19"/>

  <!-- This is required for Picasso to work. -->
  <uses-permission android:name="android.permission.INTERNET"/>

  <!-- The following permissions are OPTIONAL. -->

  <!-- Used to adjust the work load depending on the type of network the device is using. -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <!-- Used to load images from the gallery content provider. -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <!-- Used to load images for contact photos. -->
  <uses-permission android:name="android.permission.READ_CONTACTS"/>

  <application
      android:label="@string/app_name"
      android:icon="@drawable/icon"
      android:theme="@style/Theme.PicassoSample">

    <activity
        android:label="@string/app_name"
        android:name=".SampleGridViewActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <activity android:name=".SampleContactsActivity"/>
    <activity android:name=".SampleGalleryActivity"/>
    <activity android:name=".SampleListDetailActivity"/>

    <receiver android:name="SampleWidgetProvider">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>
      <meta-data android:name="android.appwidget.provider"
          android:resource="@xml/sample_widget_info"/>
    </receiver>

  </application>
</manifest>
